@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .body2 {
    @apply text-body2 font-inter;
  }

  .body3 {
    @apply text-body3 font-inter;
  }

  .body4 {
    @apply text-body4 font-inter;
  }

  .body5 {
    @apply text-body5 font-inter;
  }

  .header1 {
    @apply text-header1 font-poppins;
  }

  .header1m {
    @apply text-header1m font-poppins;
  }

  .header2 {
    @apply text-header2 font-poppins;
  }

  .header2m {
    @apply text-header2m font-poppins;
  }

  .header3 {
    @apply text-header3 font-inter;
  }

  .header3m {
    @apply text-header3m font-inter;
  }

  .header4 {
    @apply text-header4 font-inter;
  }

  .header4m {
    @apply text-header4m font-inter;
  }

  .header5 {
    @apply text-header5 font-inter;
  }

  .after-underline {
    @apply relative after:absolute after:-bottom-1 after:left-0 after:w-full after:h-[2px] after:scale-0 after:origin-center after:transition-all after:duration-300 hover:after:scale-100 focus:after:scale-100;
  }

  .switch-icon {
    @apply origin-center transition-all duration-300;
  }

  .stack {
    @apply grid grid-cols-1 grid-rows-1;
  }

  .stack-item {
    @apply col-start-1 row-start-1;
  }

  .flexable {
    @apply flex flex-col;
  }

  .center-x-absolute {
    @apply absolute left-1/2 -translate-x-1/2;
  }
}
