.slide-in-left {
	animation: slide-in-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) none;
}

.slide-in-right {
	animation: slide-in-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) none;
}

.opacity-in::after {
	animation: opacity-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes opacity-in {
  0% { opacity: 1; }
  100% { opacity: 0.5; }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
